@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.menu-gradient{
    background: #000000;
    background: -webkit-linear-gradient(
        to right,
        #5928E5,
        #1300E8
    ); 
    background: linear-gradient(
        to right,
        #5928E5,
        #1300E8
    );
}